IntelliPurchase/home/__pycache__/
IntelliPurchase/compare/__pycache__/
IntelliPurchase/user/__pycache__/
IntelliPurchase/product/__pycache__/
test.ipynb
IntelliPurchase/home/migrations/__pycache__/
IntelliPurchase/user/migrations/__pycache__/
IntelliPurchase/product/migrations/__pycache__/
IntelliPurchase/compare/migrations/__pycache__/
IntelliPurchase/dbs.sqlite3
IntelliPurchase/IntelliPurchase/__pycache__/
