<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href = " {% static 'css/bootstrap.min.css' %}" type="text/css">
    <title>{% block title %}{% endblock %}</title>
    <style>
        html, body {
            height: 100%;
            background-color: #f6f6f6;
        }
    </style>
</head>
<body>
    <br/>
    <div class="container-fluid" style="min-height: 95%;">
        <div class="row">
            <div class="col-sm-2">
                <center><img src="{% static 'images/tgdd.png' %}" class="responsive-img" style="max-height:150px"/></center>
                <div class="bs-sliderbar" style="background-color: #ffffff;">
                    <ul class="nav flex-column">
                        <li><a href="{% url 'home' %}">Thông tin cá nhân</a></li>
                        <li><a href="{% url 'blog' %}">Bài viết</a></li>
                        <li><a href="{% url 'contact' %}">Liên hệ</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9">
                {% block content %}
            
                {% endblock %}
            </div>
            <div class="col-sm-1">
                {% if user.username %}
                    <p>Xin chào {{user.username}}</p>
                    <p><a href="{% url 'logout' %}">Đăng xuất</a></p>
                {% else %}
                    <p><a href="{% url 'register' %}">Đăng ký</a>|<a href="{% url 'login' %}">Đăng nhập</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<footer>
    <div class="container-fluid">
        <a href="#">Facebook</a> | <a href="#">Twitter</a> | <a href="#">Google</a>
    </div>
</footer>
</html>
