{% extends "pages/base.html" %}
{% block title %}Blog{% endblock %}
{% block content %}
{% for post in Posts %}
   {% if forloop.counter|divisibleby:2 %}
      <h4 style="background-color: rgb(231, 222, 222); color: black;">{{ post.date|date:"d-m-Y" }} <a href="{% url 'post' post.id %}">{{ post.title }}</a></h4>
   {% else %}
      <h4>{{ post.date|date:"d-m-Y" }} <a href="{% url 'post' post.id %}">{{ post.title }}</a></h4>
   {% endif %}
   <img src="{{post.image.url}}" width="500px" height="300px" />
   <hr class="gray-line">
{% endfor %}
{% endblock %}