<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API</title>
</head>
<body>
    <h1>{{ test_string }}</h1>
    <button id="btn">Click me</button>
    <script>
        function updateTestString() {
            fetch('/test', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(resp => {
                console.log(resp); // Output => {"test_string":"Hello World"}
                var testString = resp.test_string;
                document.getElementById('test_string').innerHTML = testString; 
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        document.getElementById('btn').addEventListener('click', updateTestString);
    </script>
</body>
</html>